html{
    box-sizing: border-box;
    font-family: "Neue Montreal", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#navbar{
    height: 72px;
    border-bottom: 1px solid rgb(213,224,213);
}
#navbar nav{
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#navbar nav img{
    height: 20px;
}
.row_wrapper{
    height: 80vh;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#login h1 {
    text-align: center;
    font-size: 26px;
    font-weight: 500;
}
#login  button{
    width: 100%;
    padding: 12px;
    border-radius: 50px;
    font-size: 15px;
}
.with_google{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #4285f4;
    border: none;
}
img.with_google_img{
    background-color: transparent;
    height: 20px;
}
.with_email{
    color: white;
    background-color: rgb(20,168,0);
    border: none;
}
.with_apple{
    margin-top: 20px;
    border: 1px solid rgb(213,224,213);
    font-size: 15px;
    font-weight: 600;
}
#login form button{
    margin-top: 20px;
}
#login input{
    width: 91%;
    padding: 15px;
}
.card{
    border: 1px solid rgb(213,224,213);
    border-radius: 10px;
    padding: 30px 100px 100px 100px;
}
.hr_wrapper{
    display: flex;
    justify-content: center;
    padding: 15px 0 15px 0;
}
.hr{
    height: 1px;
    border-bottom: 1px solid rgb(213,224,213);
}
.card_footer{
    border-top: 1px solid rgb(213,224,213);
    margin-top: 30px;
}
.card_footer button{
    border: 1px solid rgb(20,168,0);
    background-color: white;
    font-size: 15px;
    font-weight: 600;
}
.card_footer .hr_wrapper{
    margin-top: 30px;
}